/* delete later */
.icon--star-off {
  display: none;
}
html {
  height: 100%;
}
body {
  font-size: 12px;
  font-family: Inter, sans-serif;
  text-align: center;
  margin: 0;
  height: calc(100% - 16px);
}
.tabs-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  border-bottom: 1px solid #e5e5e5;
}
.tab {
  font-size: 11px;
  font-weight: 500;
  color: #bababa;
  height: 32px;
  line-height: 32px;
  padding: 0 8px;
  cursor: pointer;
  user-select: none;
}
.tab:hover {
  color: #444;
}
.tab.active {
  color: #444;
  font-weight: 700;
}
#content {
  height: calc(100% - 57px);
  width: 100%;
  overflow: auto;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
ul.generator-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.generator-list li  {
  position: relative;
  color: rgba(0,0,0,.8);
}
ul.generator-list li .info-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 18;
  top: calc(50% - 10px);
  border-radius: 3px;
}
ul.generator-list li .info-icon.avatar {
  border-radius: 50%;
}
ul.generator-list li ak-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: calc(50% -  12px);
  left: 16;
  color: #333;
}
ul.generator-list li ak-icon[icon='folder'] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: 16;
}
ul.generator-list .generator-info {
  text-align: left;
  padding: 8px 56px;
  cursor: pointer;
  position: relative;
}
ul.generator-list li.active .generator-info {
  background-color:  #ebebeb !important;
}
ul.generator-list li:hover .generator-info {
  background-color:  #f8f8f8;
}
li .icon {
  position: absolute;
  right: 8;
  top: calc(50% -  16px);
  cursor: pointer;
}
li .title {
  height: 16px;
  font-size: 12px;
  font-family: Inter,sans-serif;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: .005em;
}
.title.linked:after {
  content: "🔗";
  margin-left: 4px;
}
li .description  {
  padding-top: 4px;
  padding-left: 0;
}
.tag-container {
  width: 100%;
  margin-top: 8px;
}
.tag-group-heading {
  display: inline;
  font-size: 11px;
  font-weight: 600;
}
.tag {
  text-transform: lowercase;
  background: transparent;
  border-radius: 8px;
  font-size: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  padding: 0 8px;
  text-align: center;
  height: 16px;
  line-height: 14px;
  margin: 4px 2px;
  display: inline-block;
}
.tag:hover {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: transparent;
  color: white;
}
.tag.active {
  background-color: rgba(0, 0, 0, 0.95);
  border-color: transparent;
  color: white;
}
a {
  color: #18a0fb;
  text-decoration: none;
}
.contact-us {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px 16px;
  margin: 0;
}